.navbar {
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px;

    background-color: rgba(128, 128, 190, 0.3);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.08);

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* LEWA STRONA */
.navbar-left {
    display: flex;
    align-items: center;

    margin-left: 20px;
}

/* PRAWA STRONA */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* FLAGA */
.flag {
    width: 32px;
    height: 32px;

    object-fit: contain;

    cursor: pointer;

    transition: 0.2s;
}

.flag:hover {
    transform: scale(1.1);
}

/* SWITCH */
.switch {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;

    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #ccc;

    transition: 0.4s;

    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";

    width: 26px;
    height: 26px;

    left: 4px;
    bottom: 4px;

    background-color: white;

    transition: 0.4s;

    border-radius: 50%;
}

input:checked + .slider {
    background-color: #222;
}

input:checked + .slider::before {
    transform: translateX(26px);
}

/* HOME ICON */
.home-icon {
    width: 32px;
    height: 32px;

    cursor: pointer;

    transition: 0.2s ease;
}

/* LIGHT THEME */
.home-icon.light {
    filter: brightness(0) saturate(100%) invert(42%) sepia(10%) saturate(1500%) hue-rotate(170deg);
    /* ~ #3f6a8a */
}

/* DARK THEME */
.home-icon.dark {
    filter: brightness(0) saturate(100%) invert(90%);
    /* ~ rgb(220,220,220) */
}

.home-icon:hover {
    transform: scale(1.1);
}