*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.App {
    min-height: 100vh;
    transition: 0.3s;
}

.App.dark {
    background-color: black;
    color: white;
}

.App.light {
    background-color: white;
    color: black;
}